<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/blogspage.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

    <section class="header">
        <%- include('../partials/navbarafter.ejs') %>
        <div class="text-box">
            <h1>Blog Handim</h1>
            <p>A platform for bloggers to compete and earn</p>
            <a href="#avatar" class="linkbtn">Lets Blog</a>
        </div>
    </section>

    <div class="container">
        <h1 class="heading"> Blog Articles </h1>

        <h3 class="button"><a href="#" class = "createbtn"> Create new blog </a></h3>

        <%- include('../partials/blogs.ejs') %>
        <!-- <div class="row">
            <% blogs.forEach(blog => { %>
                <div class = "service-col">
                    <div class="contents">
                        <h4 class="title"><%= blog.title %></h4>
                        <div class="date">
                            <%= blog.createdAt.toLocaleDateString() %>
                        </div>
                        <div class="author">
                            Author
                        </div>
                        <p><div class="description"> <%= blog.description %> </div></p>
                    </div>
                </div>
                <% }) %>
        
        </div> -->
        
    </div>




    
    
</body>

</html>
