<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css">
</head>

<body>
    <!-- header -->
    <section class="header">
        <%- include('./partials/navbarbefore.ejs') %>
        <div class="text-box">
            <h1>Blog Handim</h1>
            <p>A platform for bloggers to compete and earn</p>
            <a href="#avatar" class="linkbtn">Join the Community</a>
        </div>
    </section>

    <!-- Services -->
    <%- include('./partials/services.ejs') %>

    <!-- signup -->
    <%- include('./partials/signup.ejs') %>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>